/* base variables */
/* text variables */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.ib {
  display: inline-block;
  vertical-align: top;
}
.b {
  display: block;
}
.i {
  display: inline;
}
.n {
  display: none;
}
.title-1 {
  font: bold 48px/1 'Roboto', sans-serif;
  color: #000;
}
.title-2 {
  font: bold 37px/1.1 'Roboto', sans-serif;
  color: #000;
}
.title-3 {
  font: bold 32px/1.15 'Roboto', sans-serif;
  color: #000;
}
.title-4 {
  font: bold 27px/1.15 'Roboto', sans-serif;
  color: #000;
}
.title-5 {
  font: 900 18px/1.15 'Roboto', sans-serif;
  color: #000;
}
.title-6 {
  font: 900 16px/1.15 'Roboto', sans-serif;
  color: #000;
}
.nowrap {
  max-width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.color-1 {
  color: #000;
}
.absolute-1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.absolute-2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.table {
  width: 100%;
  display: table;
}
.table-row {
  display: table-row;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.up {
  text-transform: uppercase;
}
.hid {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.no {
  white-space: nowrap;
}
.rel {
  position: relative;
}
.relz {
  position: relative;
  z-index: 1;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.h100 {
  height: 100%;
}
