.fixed-but__link.colored {
  background: #f3f5f9;
}
.breadcrumbs_delivery {
  padding: 0 0 10px 0;
}
.delivery-region {
  padding-top: 20px;
  padding-bottom: 77px;
}
.delivery-service {
  padding-top: 7px;
}
.delivery-service__heading h2 {
  float: left;
  font-size: 28px;
  font-weight: 800;
}
.delivery-links {
  float: left;
  margin-left: 101px;
}
.delivery-links__link {
  display: inline-block;
}
.delivery-service__text {
  float: left;
  width: 100%;
}
.delivery-service__text p {
  line-height: 18.2px;
  color: #363636;
}
.delivery-service__text p:last-child {
  color: #000;
}
.delivery-service__text a {
  color: #63a0e6;
  border-bottom: 1px solid #63a0e4;
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}
.delivery-service__text a:hover {
  border-color: transparent;
}
.delivery-service__heading-wrap {
  float: left;
  width: 100%;
  margin-top: 7px;
}
.delivery-service__heading {
  float: left;
  margin-right: 101px;
}
.resp-nav_delivery {
  float: left;
  max-width: 470px;
  margin: 0 0 34px;
}
.button-4 {
  text-transform: none;
  font-weight: 300;
  color: #565656;
  background: #f5f6f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  padding: 0 31px;
}
.button-4:hover,
.button-4.active {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #94c402), to(#6eb002));
  background: -webkit-linear-gradient(left, #94c402 0, #6eb002 100%);
  background: -o-linear-gradient(left, #94c402 0, #6eb002 100%);
  background: linear-gradient(to right, #94c402 0, #6eb002 100%);
  font-weight: 400;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 25px;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 7px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 7px 15px rgba(0, 0, 0, 0.1);
}
.delivery-service__table {
  padding-top: 20px;
  padding-bottom: 26px;
  float: left;
  width: 100%;
}
.div-table {
  display: table;
  width: auto;
}
.div-table-row {
  width: auto;
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 85px;
}
.div-table-col {
  width: 215px;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  display: table-cell;
  text-shadow: 0 0;
  vertical-align: middle;
}
.div-table-col_heading {
  font-weight: 400;
  font-size: 14px;
}
.div-table-col:nth-child(1) {
  width: 67px;
}
.div-table-col:nth-child(1) img {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.div-table-col:nth-child(1).rotate img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.div-table-col:nth-child(2) {
  width: 123px;
}
.div-table-col:nth-child(3) {
  width: 163px;
  color: #25254f;
  font-weight: 400;
  text-align: left;
  padding-left: 40px;
  font-weight: 800;
}
.div-table-col:nth-child(4) {
  padding-left: 0;
}
.div-table-col img {
  margin: 0 auto;
}
.div-table-heading {
  background-color: #f6f6f6;
  color: #000;
  padding: 15px 0;
  min-height: initial;
  font-weight: 300;
  border-bottom: 1px solid #d7d7d7;
}
.div-table-heading:hover {
  pointer-events: none;
}
.accordion__item {
  cursor: pointer;
}
.accordion__text {
  padding: 40px;
  display: none;
  border-bottom: 1px solid #d7d7d7;
}
.accordion__heading,
.accordion__heading-mobile {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  min-height: 85px;
}
.accordion__heading-head {
  display: table;
  width: 100%;
  min-height: 85px;
}
.accordion__heading-mobile .div-table-col:nth-child(3) {
  width: 1px;
  text-align: right;
}
.accordion__heading-mobile .div-table-col:nth-child(3) img {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.accordion__heading-mobile .div-table-col:nth-child(3).rotate img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion__heading-mobile .div-table-col:nth-child(1).rotate img {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.accordion__heading-mobile .div-table-col:nth-child(1) {
  text-align: left;
}
.accordion__heading-mobile .div-table-col:nth-child(1) img {
  width: auto;
  float: left;
}
.accordion__heading-mobile {
  display: none;
  padding-bottom: 20px;
}
.accordion__heading-mobile .accordion__heading-cnt .div-table-col:nth-child(1) {
  max-width: 60%;
  width: 60%;
  float: left;
}
.accordion__heading-mobile .accordion__heading-cnt .div-table-col:nth-child(2) {
  width: 40%;
  text-align: right;
  float: left;
}
.accordion__heading-mobile .div-table-col {
  font-size: 13px;
  line-height: 22px;
}
.accordion__heading:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.note p {
  font-size: 12px;
  line-height: 19px;
  color: #9a9a9a;
  padding-bottom: 0;
}
.payment-ways {
  padding-top: 11px;
  padding-bottom: 60px;
  float: left;
  width: 100%;
}
.payment-ways h3 {
  font-size: 20px;
  width: 100%;
  font-weight: 800;
  text-align: left;
  font-size: 28px;
  padding-bottom: 20px;
}
.payment-links {
  padding-top: 22px;
  padding-bottom: 43px;
}
.payment-links__link {
  display: inline-block;
  text-align: center;
  width: 24.7%;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
.payment-links__link:hover .payment-links__heading span,
.payment-links__link:active .payment-links__heading span,
.payment-links__link:focus .payment-links__heading span {
  border-bottom: none;
}
.payment-links__heading h4 {
  font-size: 18px;
  color: #192b57;
  margin: 0 auto;
  line-height: 21.8px;
}
.payment-links__link:hover,
.payment-links__link:active,
.payment-links__link:focus {
  color: #192b57!important;
}
.payment-links__link:hover .payment-links__heading h4 span,
.payment-links__link:active .payment-links__heading h4 span,
.payment-links__link:focus .payment-links__heading h4 span {
  color: #192b57!important;
}
.payment-links__link:nth-child(2) h4 {
  max-width: 223px;
}
.payment-links__link:nth-child(3) h4 {
  max-width: 223px;
}
.payment-links__link:nth-child(4) h4 {
  max-width: 200px;
}
.payment-links__img {
  position: relative;
  margin-bottom: 18px;
}
.payment-links__img img {
  display: inline-block;
}
.payment-links__heading {
  max-width: 250px;
  margin: 0 auto;
}
.payment-links__heading span {
  border-bottom: 1px dashed #192b57;
}
.payment-links__heading span:nth-child(2) {
  border-bottom: none;
}
.payment-links__img:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 48px;
  background-color: #e7eff9;
  left: 45px;
  top: 37px;
}
.payment-links__img:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 48px;
  background-color: #e7eff9;
  right: 45px;
  top: 37px;
}
.payment-info__item {
  border-bottom: 1px solid #eaeaea;
}
.payment-info__item_region:nth-child(1) p {
  position: relative;
  padding-left: 32px;
}
.dash-text li {
  position: relative;
  padding: 3px 0px;
  padding-left: 32px;
  color: #525255;
}
.dash-text li:before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #192b57;
  display: block;
  width: 12px;
  margin-right: 17px;
  left: 0;
  top: 13px;
}
.payment-info__item p {
  padding: 3px 0px;
}
.payment-info__item:nth-child(1) p:nth-child(3) {
  padding: 14px 0px 19px 0px;
}
.payment-info__item:nth-child(1) p:nth-child(4) {
  padding: 0px 0px;
}
.payment-info__item:nth-child(2) {
  padding-top: 34px;
  position: relative;
}
.payment-info__item:nth-child(1) {
  padding-bottom: 8px;
}
.payment-info__item:nth-child(3) {
  padding-top: 18px;
  padding-bottom: 19px;
}
.payment-info__item:nth-child(4) {
  padding-top: 31px;
}
.payment-info__item strong {
  color: #363636;
  font-weight: 700;
}
.payment-info__item:last-child {
  border-bottom: none;
}
.payment-info__item h4 {
  color: #363636;
  font-size: 18px;
}
.payment-adv {
  margin-top: 7px;
}
.payment-adv p {
  position: relative;
  padding: 0px 0 4px 32px;
}
.payment-adv p:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 11px;
  left: 0;
  top: 3px;
  display: block;
  background-image: url(../img/delivery_region/tick.png);
}
.payment-info__item:nth-child(2) p:nth-child(3) {
  padding: 22px 0;
}
.payment-info__item:nth-child(3) p:nth-child(2) {
  padding: 9px 0px 21px 0px;
  color: #363636;
  font-weight: 800;
}
.payment-info__item:nth-child(3) span {
  margin-right: 17px;
  color: #192b57;
}
.payment-info__item:nth-child(3) p:nth-child(3),
.payment-info__item:nth-child(3) p:nth-child(4) {
  padding: 3px 0;
}
.payment-info__item:nth-child(4) h4 {
  padding-bottom: 24px;
}
.payment-info__item:nth-child(4) p:last-child {
  color: #888889;
  font-size: 12px;
  line-height: 20px;
  padding-top: 14px;
}
.payment-info__item:nth-child(4) p:nth-child(3) {
  padding: 19px 0px 0px 0px;
}
.payment-info__item:nth-child(4) p:nth-child(5) {
  padding: 19px 0px 4px 0px;
}
.payment-nav {
  padding-bottom: 25px;
}
.payment-nav-cnt {
  display: none;
  padding-top: 16px;
}
.payment-nav-cnt__item:nth-child(1) p:nth-child(3) {
  font-size: 12px;
  line-height: 18.8px;
  color: #888889;
  padding: 20px 0 24px 0;
}
.payment-nav-cnt__item:nth-child(2) p:nth-child(2) {
  padding: 1px 0;
}
.payment-nav-cnt__item:nth-child(2) p:nth-child(3) {
  padding: 33px 0 3px 0;
}
.payment-nav-cnt__item:nth-child(3) p:nth-child(1) {
  padding: 33px 0 3px 0;
}
.payment-nav-cnt__item:nth-child(3) p:nth-child(2) {
  padding: 1px 0 20px 0;
}
.payment-nav__item {
  position: relative;
  color: #4da9ff;
  line-height: 25px;
  cursor: pointer;
  margin-left: 32px;
}
.payment-nav__text {
  position: relative;
  color: #4da9ff;
  line-height: 25px;
  cursor: pointer;
  margin-left: 32px;
  display: inline;
}
.payment-nav__item:before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #2a45ac;
  display: block;
  width: 12px;
  margin-right: 17px;
  left: -32px;
  top: 13px;
}
.payment-nav__text:before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #2a45ac;
  display: block;
  width: 12px;
  margin-right: 17px;
  left: -32px;
  top: 11px;
}
.payment-nav__item span:hover:after {
  opacity: 0;
}
.payment-nav__text:hover:after {
  opacity: 0;
}
.payment-nav__link span {
  border-bottom: 1px dotted #4da9ff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.payment-nav__text {
  border-bottom: 1px dotted #4da9ff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.payment-nav__item span:hover {
  border-color: transparent;
}
.payment-nav__text:hover {
  border-color: transparent;
}
.card-note {
  position: absolute;
  height: 256px;
  width: 235px;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(60, 60, 60, 0.06);
  box-shadow: 0 0 8px rgba(60, 60, 60, 0.06);
  border: 1px solid #efefef;
  padding: 14px 25px;
  color: #888889;
  font-size: 11px;
  line-height: 14.8px;
  margin-top: 20px;
  background: #fff;
}
.card-note p {
  padding: 0!important;
}
.card-note__icons {
  margin-top: 11px;
  margin-bottom: 15px;
}
.card-note__icons img {
  display: inline-block;
  margin-right: 24px;
}
.card-note__icons img:last-child {
  margin-right: 0;
}
.card-note__icons img:nth-child(2) {
  position: relative;
  top: 3px;
}
.contact-us_delivery {
  max-width: 870px;
  float: left;
  width: 100%;
}
/* delivery moscow */
.delivery-service__cols {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.delivery-service__col {
  width: 46%;
  float: left;
}
.delivery-service__col:nth-child(1) {
  margin-right: 84px;
}
.delivery-service__item h4 {
  color: #000;
  font-size: 15px;
  font-weight: 900;
}
.delivery-service__item-cnt {
  border-bottom: 1px solid #dedede;
  padding-top: 20px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}
.delivery-standard h3 {
  position: relative;
  font-size: 20px;
  padding-left: 66px;
  font-weight: 800;
  padding-bottom: 23px;
}
.delivery-standard h3:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 26px;
  display: block;
  background-image: url(../img/dfelivery_moscow/delivery_shop.png);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
.delivery-total__right_free {
  color: #a3c432;
  font-size: 14px;
  font-weight: 800;
}
.delivery-total__left span span {
  font-weight: 300;
  color: #888889;
  font-size: 12px;
  padding-right: 0;
}
.delivery-total__right span {
  padding-left: 10px;
}
.delivery-total__right_moscow span {
  font-weight: 800;
}
.delivery-total__left_moscow span {
  color: #3d3d3d;
  font-weight: normal;
  padding-right: 10px;
}
.checkbox__item_moscow label:before {
  display: none;
}
.checkbox__item_moscow label {
  color: #3499b7;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding-left: 0;
}
.checkbox__item_moscow label:before {
  content: '';
  position: absolute;
  border: none;
  border-bottom: 1px dotted #4da9ff;
  display: block;
  width: 100%;
  left: 0;
  top: 8px;
}
.checkbox__item_moscow label:after {
  display: none;
}
.interval_moscow {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.delivery-standard__list-item:last-child .delivery-service__item-cnt:last-child,
.delivery-custom__list-item:last-child .delivery-service__item-cnt:last-child {
  border-bottom: none;
}
.delivery-map iframe {
  height: 330px;
  width: 100%;
}
.delivery-map {
  width: 100%;
}
#map-delivery {
  height: 193px;
}
.delivery-custom h3 {
  position: relative;
  font-size: 20px;
  padding-left: 79px;
  font-weight: 800;
  padding-bottom: 23px;
}
.delivery-custom h3:before {
  content: '';
  position: absolute;
  width: 55px;
  height: 26px;
  display: block;
  background-image: url(../img/dfelivery_moscow/delivery_custom.png);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
.delivery-self {
  margin-top: 28px;
  float: left;
  width: 100%;
}
.delivery-self h3 {
  position: relative;
  font-size: 20px;
  padding-left: 51px;
  font-weight: 800;
  padding-bottom: 21px;
}
.delivery-self h3:before {
  content: '';
  position: absolute;
  width: 55px;
  height: 26px;
  display: block;
  background-image: url(../img/dfelivery_moscow/delivery_self.png);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
.delivery-self p {
  padding: 0 0 14px;
}
.delivery-bottom {
  float: left;
  width: 100%;
  margin-top: 32px;
  padding-bottom: 15px;
}
.delivery-bottom h4 {
  font-size: 14px;
  line-height: 20.4px;
  padding-bottom: 0px;
}
.delivery-bottom p {
  font-size: 12px;
  line-height: 20.4px;
}
.delivery-bottom p:nth-child(2) {
  padding-bottom: 0;
}
.delivery-bottom p:nth-child(3) {
  padding-bottom: 22px;
}
.delivery-bottom p:last-child {
  color: #888889;
  padding-top: 5px;
}
.delivery-service_moscow {
  padding-top: 0;
  float: left;
  width: 100%;
}
.contact-us_moscow {
  float: left;
  width: 100%;
}
.delivery-custom .delivery-service__item-cnt .delivery-total img {
  position: relative;
  top: -5px;
  float: right;
}
@media screen and (max-width: 1200px) {
  .payment-ways,
  .payment-links,
  .payment-info,
  .contact-us {
    float: left;
    width: 100%;
  }
  .payment-links__link {
    display: block;
    float: left;
  }
  .payment-links__heading {
    max-width: 210px;
    margin: 0 auto;
  }
  .payment-ways h3:before,
  .payment-ways h3:after {
    width: 40%;
  }
  .payment-links__img:before {
    left: 20px;
  }
  .payment-links__img:after {
    right: 20px;
  }
  .delivery-service__col {
    width: 48%;
  }
  .delivery-service__col:nth-child(1) {
    margin-right: 38px;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 83%;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 86%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 83%;
  }
  .delivery-self .delivery-total:before {
    width: 83%;
  }
}
@media screen and (max-width: 1100px) {
  .delivery-service__col:nth-child(1) {
    margin-right: 37px;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 86%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 70%;
  }
}
@media screen and (max-width: 993px) {
  .payment-ways h3:before,
  .payment-ways h3:after {
    width: 37%;
  }
  .payment-links__heading h4 {
    font-size: 16px;
  }
  .payment-links__link:nth-child(3) h4 {
    max-width: 116px;
  }
  .payment-links__img:before,
  .payment-links__img:after {
    width: 31px;
  }
  .payment-links__img:before {
    left: 6px;
  }
  .payment-links__img:after {
    right: 6px;
  }
  .div-table-col:nth-child(3) {
    padding-left: 10px;
  }
  .div-table-col:nth-child(1) img {
    width: auto;
  }
  .payment-ways h3:before,
  .payment-ways h3:after {
    width: 34%;
  }
  .payment-links__img:before,
  .payment-links__img:after {
    display: none;
  }
  .delivery-service__col:nth-child(1) {
    margin-right: 0px;
  }
  .delivery-service__col {
    width: 100%;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 88%;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 90.5%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 88%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 73.5%;
  }
  .delivery-self .delivery-total:before {
    width: 88%;
  }
  .div-table-col_heading:nth-child(1) {
    width: 80px;
  }
  .div-table-col_heading:nth-child(3) {
    width: 219px;
  }
  .div-table-col_heading {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .delivery-standard .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 86%;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 88%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(2) .delivery-total:before {
    width: 86%;
  }
  .delivery-custom .delivery-service__item-cnt:nth-child(3) .delivery-total:before {
    width: 68%;
  }
  .delivery-self .delivery-total:before {
    width: 86%;
  }
}
@media screen and (max-width: 640px) {
  .div-table-col {
    font-size: 12px;
  }
  .payment-links__img img {
    max-width: 50%;
  }
  .payment-links__heading h4 {
    font-size: 13px;
  }
  .payment-ways h3:before,
  .payment-ways h3:after {
    width: 30%;
  }
  .card-note {
    position: static;
    margin: 20px auto;
  }
  .div-table-heading {
    display: none;
  }
  .accordion {
    border-top: 1px solid #d7d7d7;
  }
  .accordion__heading {
    display: none;
  }
  .accordion__heading-mobile {
    display: table;
  }
  .accordion__text {
    padding: 15px;
  }
  .accordion__heading-mobile .div-table-col {
    text-align: left;
  }
  .accordion__heading-mobile .div-table-col:nth-child(1) {
    max-width: 17px;
  }
}
@media screen and (max-width: 520px) {
  .delivery-service__heading {
    float: none;
    margin-right: auto;
  }
  .payment-links__link {
    width: 100%;
  }
  .payment-ways h3:before,
  .payment-ways h3:after {
    width: 16%;
  }
  .payment-links__heading h4 {
    font-size: 17px;
  }
  .resp-nav__item_delivery.active {
    font-weight: 300;
  }
  .delivery-standard .delivery-service__item-cnt:nth-child(2) .delivery-total:before,
  .delivery-standard .delivery-service__item-cnt:nth-child(3) .delivery-total:before,
  .delivery-custom .delivery-service__item-cnt:nth-child(2) .delivery-total:before,
  .delivery-custom .delivery-service__item-cnt:nth-child(3) .delivery-total:before,
  .delivery-self .delivery-total:before {
    display: none;
  }
  .delivery-total__cols,
  .delivery-total__left,
  .delivery-total__right {
    display: block;
    width: 100%;
  }
  .delivery-total__right {
    text-align: left;
  }
  .delivery-total__right span {
    margin-left: 0;
    padding-left: 0;
  }
  .resp-nav_delivery {
    height: 38px;
  }
  .delivery-standard__list-item p,
  .delivery-custom__list-item p {
    padding: 0 0 12px;
  }
  .delivery-custom .delivery-service__item-cnt .delivery-total img {
    float: left;
    display: block;
    position: static;
    padding-bottom: 10px;
  }
  .accordion__heading-mobile .div-table-col:nth-child(1) {
    max-width: 25px;
  }
}
@media screen and (max-width: 410px) {
  .resp-nav__item_delivery {
    font-size: 14px;
    line-height: 17px;
  }
  .accordion__heading-mobile .div-table-col:nth-child(1) {
    max-width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .resp-nav_delivery {
    height: 40px;
  }
  .resp-nav__item_delivery {
    font-size: 13.5px;
    line-height: 17px;
  }
  .resp-nav__link_delivery {
    padding-top: 2px;
  }
}
