
@import "_variables.less";

.transition(@transition:0.3s){-webkit-transition:@transition;-moz-transition:@transition;-ms-transition:@transition;transition:@transition;}
.delay(@transition:0.3s){-webkit-transition-delay:@transition;-moz-transition-delay:@transition;-ms-transition-delay:@transition;transition-delay:@transition;}
.rotate(@rotate:180deg){-webkit-transform:rotate(@rotate);-moz-transform:rotate(@rotate);-ms-transform:rotate(@rotate);transform:rotate(@rotate);}
.scale(@scale1:1, @scale2:-1){-webkit-transform:scale(@scale1, @scale2);-moz-transform:scale(@scale1, @scale2);-ms-transform:scale(@scale1, @scale2);transform:scale(@scale1, @scale2);}
.skew(@skew:-13deg, @pos:center center){-webkit-transform:skew(@skew);-moz-transform:skew(@skew);-ms-transform:skew(@skew);transform:skew(@skew);-webkit-transform-origin:@pos;-moz-transform-origin:@pos;-ms-transform-origin:@pos; transform-origin:@pos;}
.unskew(@skew:13deg, @pos:center center){-webkit-transform:skew(@skew);-moz-transform:skew(@skew);-ms-transform:skew(@skew);transform:skew(@skew);-webkit-transform-origin:@pos;-moz-transform-origin:@pos;-ms-transform-origin:@pos; transform-origin:@pos;}
.cover(@bg-pos:center center){background-repeat:no-repeat; background-position:@bg-pos; background-size:cover;}
.user-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ib{display:inline-block; vertical-align:top;}
.b{display:block;}
.i{display:inline;}
.n{display:none;}
.title-1{font:bold @font-size-h1/@line-height-h1 @font-1; color:@title-color;}
.title-2{font:bold @font-size-h2/@line-height-h2 @font-1; color:@title-color;}
.title-3{font:bold @font-size-h3/@line-height-h3 @font-1; color:@title-color;}
.title-4{font:bold @font-size-h4/@line-height-h4 @font-1; color:@title-color;}
.title-5{font:900 @font-size-h5/@line-height-h5 @font-1; color:@title-color;}
.title-6{font:900 @font-size-h6/@line-height-h6 @font-1; color:@title-color;}

.nowrap{max-width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.color-1{color:@title-color;}

.gradient-1(@color-1:#142346, @color-2:#243f80){
	background:-moz-linear-gradient(top, @color-1 0, @color-2 100%);
	background:-webkit-gradient(linear, left, left bottom, color-stop(0,@color-1), color-stop(100%,@color-2));
	background:-webkit-linear-gradient(right, @color-1 0, @color-2 100%);
	background:-ms-linear-gradient(right, @color-1 0, @color-2 100%);
	background:linear-gradient(to right, @color-1 0, @color-2 100%);
}

.gradient-2(@color-1:#bee7f0, @color-2:#fff){
	background:-moz-linear-gradient(top, @color-1 0, @color-2 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0,@color-1), color-stop(100%,@color-2));
	background:-webkit-linear-gradient(top, @color-1 0, @color-2 100%);
	background:-ms-linear-gradient(top, @color-1 0, @color-2 100%);
	background:linear-gradient(to bottom, @color-1 0, @color-2 100%);
}

.gradient-3(@color-1:rgba(0,0,0,0), @color-2:rgba(0,0,0,0.25), @color-3:rgba(0,0,0,0.6)){
	background:-moz-linear-gradient(top, @color-1 0, @color-2 50%, @color-3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0,@color-1), color-stop(50%,@color-2), color-stop(100%,@color-3));
	background:-webkit-linear-gradient(top, @color-1 0, @color-2 50%,@color-3 100%);
	background:-ms-linear-gradient(top, @color-1 0, @color-2 50%,@color-3 100%);
	background:linear-gradient(to bottom, @color-1 0, @color-2 50%,@color-3 100%);
}

.box-shadow(@x:0, @y:0, @blur:10px, @color:rgba(0,0,0,0.6)){box-shadow:@arguments;}
.text-shadow(@x:3px, @y:3px, @blur:7px, @color:rgba(0,0,0,0.21)){text-shadow:@arguments;}
.absolute-1{width:100%; position:absolute; top:0; left:0;}
.absolute-2{width:100%; position:absolute; bottom:0; left:0;}
.full{width:100%; height:100%; position:absolute; top:0; left:0;}
.table{width:100%; display:table;}
.table-cell(@align:top){display:table-cell; vertical-align:@align;}
.table-row{display:table-row;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.up{text-transform:uppercase;}
.hid{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.no{white-space:nowrap;}
.rel{position:relative;}
.relz{position:relative; z-index:1;}
.w100{width:100%;}
.w50{width:50%;}
.h100{height:100%;}
