/* base variables */
@base-bg:#fff;
@base-font-weight:normal;
@base-font-size:14px;
@base-line-height:1.45;
@font-1:'Roboto', sans-serif;
@font-2:Arial;
@link-color:#00bbd1;
@link-hover:#0085b1;

/* text variables */
@text-color:#525252;
@title-color:#000;
@white:#fff;
@black:#000;
@bl:#00bbd1;
@bd:#0085b1;
@bl-l: #e8f6f5;

@font-size-h1:48px;
@line-height-h1:1;
@font-size-h2:37px;
@line-height-h2:1.1;
@font-size-h3:32px;
@line-height-h3:1.15;
@font-size-h4:27px;
@line-height-h4:1.15;
@font-size-h5:18px;
@line-height-h5:1.15;
@font-size-h6:16px;
@line-height-h6:1.15;
