.breadcrumbs_measure{
	padding: 20px 0 10px 0px;
}
.delivery-service__text_measure{
	margin-top: 11px;
}
.inner .calc__title_measure {
  float: none;
}
.inner .calc-nav-1_measure {
  float: none;
}
.pr-item-1__right_center{
  vertical-align: middle;
}
.how__left-wrap_measure{
	width: 100%;
  max-width: 565px;
  margin: 0 15px;
  display: inline-block!important;
}
.how-wrap{
  margin-left: -15px;
  margin-right: -15px;
}
.how__left-wrap_measure .how__top-wrap{
	background: none;
	min-height: 160px;
}
.delivery-total__right_free span{
	color: #a3c432;
}
.how__left-wrap_measure .how__top{
	background-color: #379fbc;
	padding: 13px 30px 10px;
	min-height: 159px;
	z-index: 2;
	background: url(../img/how__top-bg.png);
	background-size: cover;
	/*background: radial-gradient(205px 205px ellipse at 50% 50%, rgba(101, 192, 218, 1), rgba(55, 159, 188, 1), transparent); */
}

.how__top_measure-wrap{
	background-color: #379fbc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
}
.how__left-wrap_measure .how__top-wrap:before{
	height: 96px;
	width: 96px;
	left: 52.5%;
	transform: translateX(-50%);
	text-align: center;
	background: url(../img/sprite.png) no-repeat -291px -202px;
	/*background-color: #379fbc;*/
	background-color: #00acc7;
	top: 0px;
	border-radius: 50%;
}
.how__left-wrap_measure .how__top-wrap:after{
	content: '';
	position: absolute;
	border-radius: 50%;
	display: block;
	border: 1px solid #5fb1c9;
	top: 8px;
	left: 49.7%;
	transform: translateX(-50%);
	height: 80px;
	width: 80px;
	z-index: 1;
}
.how__left-wrap_measure .how__fix-2{
	  height: 106px;
}
.how__left-wrap_measure .how__title-1{
	max-width: 258px;
  margin: 0 auto;
}
.how__left-wrap_measure .how__title-1:after{
	content: '*';
}
.how__left-wrap_measure .how__title-1 span{
	font-size: 20px;
	padding: 0;
	margin-bottom: 5px;
}
.how__left-wrap_measure .how__title-1 span:after {
	display: none;
}
.how__left-wrap_measure .how__middle{
	padding: 10px 32px 36px;
	background: #f6f7fa;
	float: left;
	width: 100%;
}
.button-measure{
	width: 100%;
	max-width: 242px;
	font-size: 14px;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
}
.button-measure:nth-child(1){
	margin-right: 13px;
}
.button-measure:hover,
.button-measure:active,
.button-measure:focus{
	color: #fff;
	cursor: pointer;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}
.button-measure_blue{
	background: #48b5cc;
}
.delivery-total__left_measure span,
.delivery-total__right_measure span{
	background: #f6f7fa;
}
.delivery-total__left_measure span{
	padding-right: 10px;
}
.delivery-total__right_measure span{
	padding-left: 10px;
}
.pr-table-2__link{
	width: 70px;
	height: 40px;
	  display: block;
  margin: 0 auto;
	background: url(../img/sprite.png) no-repeat -406px -204px;
}

.delivery-service__item-cnt:nth-child(3) .delivery-total:before{
	display: none;
}
.delivery-total_free:before{
	display: none;
}
.today-free span{
	background: #92c31d;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	padding: 5px 0 4px 10px;
	position: relative;
	left: -15px;
}
.today-free span:after{
	content: '';
	position: absolute;
	right: -20px;
  top: -4px;
	display: block;
	width: 20px;
	height: 26px;
	background: url(../img/stripe-end.png) no-repeat;
}
.prices_measure{
	padding-top: 60px;
}
.prices__title_measure{
	font-size: 28px;
	padding: 0px 0 16px;
}
.pr-item-2_measure{
	
	display: flex;
	display: -ms-flexbox;
	align-items: center;	
	justify-content: center;
	min-height: 118px;
	padding: 0;
	padding-top: 15px;
	height: 118px;
}
.pr-table_measure{
	margin-top: 20px;
}
.pr-table-1__fix_measure{
	min-height: 118px;
	display: -ms-flexbox;
	align-items: center;	
	justify-content: center;
	height: 118px;
}
.pr-table-1__logo_measure img{
	margin: 38px auto 0;
	max-width: 150px;
}
.delivery-total__right_blue span{
	color: #379fbc;	
}
.delivery-total__right_blue span span{
	border-bottom: 1px dotted #379fbc;
	padding-left: 0;
	margin-left: 0;
}

.delivery-standard__list_measure .delivery-standard__list-item:nth-child(2) .delivery-service__item-cnt .delivery-total:before{
	content: "";
  width: 100%;
  position: absolute;
  top: 13px;
  border-bottom: 1px dashed #aeaeaa;
	display: block;
	left: 0;
}
.measure-note{
	right: 0px;
	bottom: 14px;
	font-size: 12px;
	color: #a2a2a2;
	float: right;
}
.measure-note p{
	padding-top: 10px;
}
.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p span{
	float: right;
	color: #000;
	font-weight: 800;
}
.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p:last-child{
	font-size: 12px;
	padding-bottom: 15px;
	color: #646464;
}
.delivery-service__item-cnt_note{
	position: relative;
	float: left;
}
.delivery-service__item-cnt_note .interval{
	float: left;
}
.delivery-standard__list_measure .delivery-service__item-cnt p strong,
.delivery-custom__list_measure .delivery-service__item-cnt p strong{
	color: #000;
}
.delivery-standard__list_measure .delivery-service__item-cnt p,
.delivery-custom__list_measure .delivery-service__item-cnt p{
	color: #3d3d3d;
}
.delivery-custom__list_measure .delivery-custom__list-item:last-child .delivery-service__item-cnt p,
.delivery-total__left_measure span{
	color: #646464;
}
.delivery-custom__list_measure .delivery-custom__list-item:last-child .delivery-service__item-cnt p{
	margin-bottom: 10px;
}
.banner{
	padding: 50px 0;
}
.banner-cnt{
	background: url(../img/banner-image.jpg) no-repeat;	
	min-height: 100px;
}
.banner-text{
	float: left;
	padding-left: 300px;
	padding-top: 15px;
} 
.banner-text h2{
	color: #fff;
	font-size: 30px;	
	padding-bottom: 0;
}
.banner-text p{
	color: #fff;
	font-weight: 300;
	font-size: 25px;
}
.banner-links{
	float: right;
	padding-right: 143px;
	margin-top: 17px;
}
.banner-links p{
	color: #fff;
	padding-bottom: 7px;
}
.measure-buttons{
	float: left;
	width: 100%;
	padding-top: 15px;
}
.pr-table-2__tab-2_measure .pr-table-2__row:first-child .pr-table-2__cell{
	background: #fafbfc;
}
.pr-table-2__tab-2_measure .pr-table-2__row:first-child .pr-table-2__cell_colored{
	background: #f6f6f9;
}
@media screen and (min-width: 1300px) {
	.how__left-wrap_measure .how__middle {
		padding: 10px 20px 36px;
	}
	.how__left-wrap_measure {
	  width: 100%;
	  max-width: 570px;
	  margin: 0 13px;
	}
}
@media screen and (max-width: 1270px) {
	.how__left-wrap_measure{
		max-width: 47%;
	}
}
@media screen and (max-width: 1270px) {
	.how__left-wrap_measure{
		max-width: 46%;
	}
	.delivery-standard__list_measure .delivery-total__cols, .delivery-standard__list_measure .delivery-total__left, .delivery-standard__list_measure .delivery-total__right,
	.delivery-custom__list_measure .delivery-total__cols, .delivery-custom__list_measure .delivery-total__left, .delivery-custom__list_measure .delivery-total__right {
		display: block;
		width: 100%;
		text-align: left;
	}
	.how__left-wrap_measure .how__top-wrap:before,
	.how__left-wrap_measure .how__top-wrap:after{
		display: none;
	}
	.how__left-wrap_measure .how__top-wrap{
		padding-top: 0;
	}
	.delivery-total__left_measure span, .delivery-total__right_measure span{
		margin-left: 0;
		padding-left: 0;
	}
	.delivery-standard__list_measure 
	.delivery-standard__list-item:nth-child(1) 
	.delivery-service__item-cnt:nth-child(3) p:last-child span{
		left: 0;
	}
	.how__left-wrap_measure .how__title-1{
		padding-top: 30px;
	}
	.button-measure {
	  width: 100%;
	  max-width: 47%;
	}
	.button-measure:nth-child(1) {
		margin-right: 18px;
	}
	.measure-note{
		position: static;
		width: 100%;
	}
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(1) .interval {
		float: none;
	}
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(1) .delivery-service__item-cnt{
		padding-bottom: 0;
	}
	.delivery-standard__list_measure .delivery-standard__list-item:nth-child(2) .delivery-service__item-cnt .delivery-total:before{
	 	display: none;
	}	
	.delivery-custom__list_measure .delivery-custom__list-item{
		float: left;
	}
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p span,
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p:last-child{
		float: left;
	}
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p span{
		padding: 10px 0;
		float: none;
	}
	.delivery-standard__list_measure .delivery-total:before{
	 	display: none;
	}	
	.delivery-custom__list_measure .delivery-total__right span{
		margin: 0;
	}
	.delivery-custom__list_measure .delivery-total__left, .delivery-custom__list_measure .delivery-total__right{
		padding-bottom: 10px;
	}
	.banner-text{
		padding-left: 150px;
	}
	.delivery-custom__list-item_measure .delivery-total:before{
		display: none;
	}
	.today-free{
		padding-top: 10px;
	}
	.today-free span{
		left: 0;
		padding-left: 10px;
	}
}
@media screen and (max-width: 992px) {
	.how__left-wrap_measure{
		max-width: 100%;
	}
	.how__list-in_measure .how-wrap {
  margin-right: 15px;
}
	.delivery-custom__list_measure .delivery-custom__list-item{
		width: 100%;
	}
	.delivery-custom__list_measure .delivery-custom__list-item:nth-child(2) p span{
		float: none;
	}
	.delivery-custom__list_measure .delivery-custom__list-item p{
		width: 100%;
	}
	.delivery-standard__list_measure .delivery-service__item-cnt:nth-child(2) .delivery-total:before{
		display: none;
	}
	.how__left-wrap_measure:nth-child(1){
		margin-bottom: 50px;
	}
	.delivery-custom__list_measure .delivery-service__item-cnt:nth-child(2) .delivery-total:before{
		display: none;
	}
	.banner-text {
		padding-left: 50px;
	}
	.banner-links{
		padding-right: 20px;
	}
}
@media screen and (max-width: 850px){

}
@media screen and (max-width: 767px){
	.how__left-wrap_measure{
		position: static!important;
	}
	.banner-text{
		padding-top: 25px;
	}
	.banner-text h2{
		font-size: 24px;
	}
	.banner-text p{
	 	font-size: 20px;
	}	
}
@media screen and (max-width: 640px){
	.banner-text{
		padding-top: 30px;
		padding-left: 12px;
	}
	.banner-text h2 {
		font-size: 20px;
	}

}
@media screen and (max-width: 520px){
	.banner-cnt{
		background-size: cover;
	}
	.banner-text h2 {
		font-size: 24px;
	}
	.banner-text p {
		font-size: 22px;
	}
	.button-measure:nth-child(1) {
		margin-right: 13px;
	}
	.how__left-wrap_measure .how__middle{
	 	padding: 10px 22px 36px;
	}	

}
@media screen and (max-width: 420px){
	.resp-nav__list_measure .resp-nav__link{
		padding-top: 10px;
	}
}
@media screen and (max-width: 380px){
	.button-measure:nth-child(1) {
		margin-right: 9px;
	}
	
}
